{% extends "base.html" %}
{% block title %}{{ movie.title }} - Uzmovi Clone{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <img src="{{ movie.poster.url }}" class="img-fluid rounded" alt="{{ movie.title }}">
    </div>
    <div class="col-md-8">
        <h2 class="text-warning">{{ movie.title }}</h2>
        <p><strong>Category:</strong> {{ movie.category.name }}</p>
        <p><strong>Year:</strong> {{ movie.release_year }}</p>
        <p><strong>Description:</strong> {{ movie.description|safe }}</p>

        {% if user.is_authenticated %}
            <form method="post" action="{% url 'wishlist_add' movie.id %}">
                {% csrf_token %}
                <button class="btn btn-outline-warning">
                    Add to Wishlist
                </button>
            </form>
        {% else %}
            <p class="text-secondary">Login to add this movie to your wishlist.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
