{% extends "base.html" %}
{% block title %}Search - Uzmovi Clone{% endblock %}

{% block content %}
<h2 class="text-warning mb-4">Search Results for "{{ query }}"</h2>
<div class="row g-4">
    {% for movie in results %}
        <div class="col-md-3">
            <div class="card bg-dark text-light h-100">
                <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <a href="{{ movie.get_absolute_url }}" class="btn btn-sm btn-warning">Details</a>
                </div>
            </div>
        </div>
    {% empty %}
        <p>No movies found.</p>
    {% endfor %}
</div>
{% endblock %}
